html{
    box-sizing: border-box;
}
*{
    box-sizing:inherit;
}
body{
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(238,238,238);
    padding: 130px 0 0 0 ;
}

header{
    background-color: rgb(238,238,238);
    text-align: center;
    position: fixed;
    top: 0%;
    width: 100%;
    padding: 10px;
}

img{
    width: 330px;
    height: 35px;
    padding-right: 20px
    text-align:center;
}

figure{
    display: block;
    margin: auto;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
}
nav ul li{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

input{
    padding: 0;
    border: 0;
    width: 300px;
    height: 20px;
    margin: 20px 0;
}

fieldset{
    text-align: center;
    border: 0;
    padding: 0;
    margin: 0;
}

.email{
    display: flex;
    flex-direction: column;
}

.email button{
    background-color: rgb(241,196,15);
    font-weight: bold;
    width: 152px;
    height:30px;
    align-self: center;
    padding: 0;
    font-size: 15px;
    margin-bottom: 70px;
}
button:hover{
    color: purple;
}

.points p{
    text-align: center;
    margin: 0 0 80px 0;
}

iframe{
    width: 100%;
}

h2{
    text-align: center;
    margin:0;
}

.card{
    border: 1px solid black;
    flex-direction: column;    
    width: 290px;
    height: 300px;
    margin: 20px auto; /* container would not align if not for this */ 
    text-align: center;
}

.card h4{
    background-color:rgb( 221,221,221);
    margin: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
}

.card button{
    background-color: rgb(241,196,15);
    border: none;
    width: 90px;
    height:35px;
    align-self: center;
    padding: 0;
    font-size: 15px;
    margin-bottom: 70px;
}

footer{
    margin-top: 50px;
    background-color:rgb( 221,221,221);
    height: 70px;
}

footer ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

footer li, footer p{
    padding-right: 20px;
}

footer li{
    padding-top: 20px;
}

footer p {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
    color: rgb(68,68,68);
    padding-top: 3px;
}